{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    
  </head>
  <body style="background-image:url('static/image/carimg.jpg');" >
    <h1 align="center" class="heading">Index Page</h1>
    {% if request.user.is_authenticated %}

      <h3 align="center"><a href="/logout">Logout</a></h3>
      {% if request.user.is_superuser %}
      x
      {% elif request.user.is_staff %}
        <h3 align="center"><a href="/create_product">Create Product </a></h3>
        <h3 align="center"><a href="/read_Product">Read Product </a></h3>
        <h3 align="center"><a href="/readCart">Cart</a></h3>
        <h3 align="center"><a href="/read_order">Read Order</a></h3>
        <h3 align="center"><a href="/search_product">Search Product</a></h3>
        
      {% else %}
        <h3 align="center"><a href="/read_Product">Read Product </a></h3>
        <h3 align="center"><a href="/readCart">Cart</a></h3>
        <h3 align="center"><a href="/read_order">Read Order</a></h3>
        <h3 align="center"><a href="/search_product">Search Product</a></h3>
      {% endif %}

        
    {% else %}
        
      <h3 align="center"><a href="/register">Register</a></h3>
      <h3 align="center"><a href="/login">Login</a></h3>
        
    {% endif %}    
  </body>
</html>
