<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center"> OTP verification</h1>
    <table align="center" border="1">
        <form  method="post">
            {% csrf_token %}

            <tr>
                <th>OPT</th>
                <td><input type="number" name="otp"></td>

            </tr>
            <tr>
                <th align="center" colspan="2">
                    <input type="submit" name="submit" >
                </th>
            </tr>
        </form>
    </table>
</body>
</html>