<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search product</title>
</head>
<body>
    <h1 align="center"> Search Product</h1>
    <table align="center" border="1">
        <form  method="post">
            {% csrf_token %}
            <tr>
                <th>Prduct Name</th>
                <td><input type="search" name="search"></td>
            </tr>
           <tr>
            <th align="center" colspan="2">
                <input type="submit" value="submit">
            </th>
           </tr>
        </form>
    </table>
    <br>
    <br>
    <br>

    <table align="center" border="1">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        
        {% for x in data %}
        <tr>
            <td>{{ x.name }}</td>
            <td><img src="{{ x.image.url }}" height="250px" width="250px" ></td>
            <td>{{ x.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>